<ng-container>
    <mat-button-toggle-group #group="matButtonToggleGroup" appearance="legacy" [value]="selectedCategory" class="categories-toogle-group mt-2" (change)="handlerOnChangeCategory($event.value)">
        <mat-button-toggle [value]="null" class="letter">
            {{ "TOOLBAR.CATEGORY_TOGGLE.ALL" | translate }}
        </mat-button-toggle>
        <mat-button-toggle *ngFor="let category of categoryList" [value]="category" class="letter">
            {{ category }}
        </mat-button-toggle>
    </mat-button-toggle-group>
</ng-container>
