<footer>
	<div class='px-3'>
		<div class='theme-container'>

			<div class='py-5 content border-lighter'>
				<div fxLayout='row wrap' fxLayoutAlign='space-between'>

					<div fxFlex='100' fxFlex.gt-sm='100' ngClass.lt-md='pt-5'>
						<agm-map
							[latitude]='lat'
							[longitude]='lng'
							[zoom]='zoom'
							[mapTypeControl]='true'
							[fullscreenControl]='true'
							[styles]="(settings.theme == 'orange-dark') ? mapStyles : null">
							<agm-marker
								[latitude]='lat'
								[longitude]='lng'
								[markerDraggable]='false'>
							</agm-marker>
						</agm-map>
					</div>

				</div>
			</div>

			<div fxLayout='row' fxLayout.xs='column' fxLayoutAlign='space-between center' class='copyright py-2'>
				<p>Made in Montpellier with ❤</p>
			</div>
		</div>
	</div>
</footer>
