<div *ngIf="productList.length" class="menu-items-carousel">
	<div class="swiper-container h-100 carousel-outer" [swiper]="config">
		<div class="swiper-wrapper h-100">
			<div *ngFor="let product of productList" class="swiper-slide">
				<app-product-item [productExtended]="product" [lazyLoad]="true"></app-product-item>
			</div>
		</div>
		<button mat-mini-fab color="primary" class="prop-prev swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
		<button mat-mini-fab color="primary" class="prop-next swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
	</div>
</div>
