<app-header-image
    [backgroundImage]="'assets/images/contact/background.jpg'"
    [bgImageAnimate]="true"
    [contentOffsetToTop]="true"
    [title]="'CONTACT.TITLE' | translate"
    [desc]="'CONTACT.DESC' | translate">
</app-header-image>

<div class="px-3">
    <div class="theme-container">
        <mat-card class="main-content-header mb-5">
            <div class="p-3">
                <div fxLayout="row wrap" fxLayoutAlign="space-around" >
                    <div fxFlex="100" fxFlex.gt-xs="33.3">
                        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                            <a href='http://maps.google.com/?q={{ contactService.data.address }}' target="_blank">
                                <mat-icon color="primary" class="mat-icon-lg">home</mat-icon></a>
                            <a href='http://maps.google.com/?q={{ contactService.data.address }}' target="_blank">
                                <h3 class="primary-color py-1">{{ "FIELD.LABEL.ADDRESS" | translate }}</h3></a>
                            <a href='http://maps.google.com/?q={{ contactService.data.address }}' target="_blank">
                                {{ contactService.data.address }}</a>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap" class="mt-5">
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" [ngClass.gt-sm]="(settings.rtl) ? 'pl-5' : 'pr-5'">
                        <h1 class="secondary-font primary-color text-center mb-3">{{ "CONTACT.CONTACT_US" | translate }}</h1>
                        <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()" fxLayout="row wrap">
                            <div fxFlex="100">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{ "FIELD.LABEL.NAME" | translate }}</mat-label>
                                    <input matInput placeholder='{{ "FIELD.PLACEHOLDER.NAME" | translate }}' formControlName="name" required>
                                    <mat-error *ngIf="contactForm.controls.name.errors?.required">{{ "FIELD.REQUIRED.NAME" | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="100">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{ "FIELD.LABEL.EMAIL" | translate }}</mat-label>
                                    <input matInput placeholder='{{ "FIELD.PLACEHOLDER.EMAIL" | translate }}' formControlName="email" required>
                                    <mat-error *ngIf="contactForm.controls.email.errors?.required">{{ "FIELD.REQUIRED.EMAIL" | translate }}</mat-error>
                                    <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">{{ "FIELD.INVALID.EMAIL" | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="100">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{ "FIELD.LABEL.PHONE" | translate }}</mat-label>
                                    <input matInput placeholder='{{ "FIELD.PLACEHOLDER.PHONE" | translate }}' formControlName="phone" required>
                                    <mat-error *ngIf="contactForm.controls.phone.errors?.required">{{ "FIELD.REQUIRED.PHONE" | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="100">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{ "FIELD.LABEL.MESSAGE" | translate }}</mat-label>
                                    <textarea matInput placeholder='{{ "FIELD.PLACEHOLDER.MESSAGE" | translate }}' formControlName="message" required rows="5"></textarea>
                                    <mat-error *ngIf="contactForm.controls.message.errors?.required">{{ "FIELD.REQUIRED.MESSAGE" | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="w-100 py-2 text-center">
                                <button mat-raised-button color="primary" type="submit" class="uppercase">{{ "BTN.SUBMIT" | translate }}</button>
                            </div>
                        </form>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3">
                        <img src="assets/images/contact/1.jpg" alt="about-2" class="mw-100 mb-4">
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div class="contact-map">
    <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [mapTypeControl]="true"
        [fullscreenControl]="true"
        [styles]="(settings.theme == 'orange-dark') ? mapStyles : null">
        <agm-marker
            [latitude]="lat"
            [longitude]="lng"
            [markerDraggable]="false">
        </agm-marker>
    </agm-map>
</div>
