<mat-card class="m-2 p-0">

	<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
		<div></div>
		<button mat-raised-button color="primary" (click)="openNameDialog(null)">
			<mat-icon>add</mat-icon>
			{{ 'PRODUCT.NAME.ADD' | translate }}
		</button>
	</div>
	<mat-divider></mat-divider>

	<div class="table-wrapper">
		<mat-table [dataSource]="dataSource" matSort class="w-100">

			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FIELD.LABEL.NAME" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let name"> {{ name.name }}</mat-cell>
			</ng-container>

			<!-- Description Column -->
			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FIELD.LABEL.DESCRIPTION" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let name"> {{ name.description }}</mat-cell>
			</ng-container>

			<!-- Actions Column -->
			<ng-container matColumnDef="action">
				<mat-header-cell *matHeaderCellDef>{{ "FIELD.LABEL.ACTION" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let name">

					<!-- Button used to update with the dialog component. -->
					<button mat-icon-button color="primary" (click)="openNameDialog(name)" matTooltip="Edit">
						<mat-icon>edit</mat-icon>
					</button>

					<button mat-icon-button color="warn" (click)="delete(name.id)" matTooltip='{{ "BTN.REMOVE" | translate }}'>
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let name; columns: displayedColumns;"></mat-row>
		</mat-table>
		<p *ngIf="appService.Data.names && appService.Data.names.length === 0" class="py-5 mb-0 text-center">{{ "PRODUCT.NAME.NO_DATA" | translate }}</p>
	</div>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>
