<div class='px-3 py-5'>
	<div class='theme-container'>
		<mat-card class='p-0 o-hidden'>
			<div fxLayout='row' fxLayoutAlign='space-around center'>
				<img src='assets/images/login/background.png' alt='login' fxFlex.gt-sm='50' class='bg-cover login-image'>

				<div fxFlex.gt-sm='50' class='py-3' ngClass.gt-sm='px-5' ngClass.sm='px-3' ngClass.xs='px-3'>
					<div fxLayout='column' fxLayoutAlign='center center' class='text-center'>
						<h1 class='secondary-font'>{{ "LOGIN.TITLE" | translate }}</h1>
						<a mat-button routerLink='/register' color='accent'
						   class='w-100'>{{ "LOGIN.DESC" | translate }}</a>
					</div>
					<form [formGroup]='loginForm' (ngSubmit)='onLoginFormSubmit()'>

						<mat-form-field appearance='outline' class='w-100 mt-2'>
							<mat-icon matPrefix class='mr-1 text-muted'>person</mat-icon>
							<mat-label>{{ "FIELD.LABEL.EMAIL" | translate }}</mat-label>
							<input matInput placeholder='{{ "FIELD.PLACEHOLDER.EMAIL" | translate }}'
							       formControlName='email' required autocomplete='on'>
							<mat-error
								*ngIf='loginForm.controls.email.errors?.required'>{{ "FIELD.REQUIRED.EMAIL" | translate }}</mat-error>
							<mat-error
								*ngIf="loginForm.controls.email.hasError('invalidEmail')">{{ "FIELD.INVALID.EMAIL" | translate }}</mat-error>
						</mat-form-field>

						<mat-form-field appearance='outline' class='w-100 mt-1'>
							<mat-icon matPrefix class='mr-1 text-muted'>lock</mat-icon>
							<mat-label>{{ "FIELD.LABEL.PASSWORD" | translate }}</mat-label>
							<input matInput placeholder='{{ "FIELD.PLACEHOLDER.PASSWORD" | translate }}'
							       formControlName='password' required [type]="hide ? 'password' : 'text'"
							       autocomplete='on'>
							<mat-error
								*ngIf='loginForm.controls.password.errors?.required'>{{ "FIELD.REQUIRED.PASSWORD" | translate }}</mat-error>
							<mat-error
								*ngIf="loginForm.controls.password.hasError('minlength')">{{ "FIELD.INVALID.PASSWORD" | translate }}</mat-error>
							<button mat-icon-button matSuffix (click)='hide = !hide' type='button' class='text-muted'>
								<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
						</mat-form-field>


						<div class='text-center mt-2'>
							<button mat-raised-button color='accent' class='uppercase' type='submit'>
								{{ "BTN.LOGIN" | translate }}
							</button>
						</div>
					</form>
				</div>
			</div>
		</mat-card>
	</div>
</div>
