<mat-toolbar color='primary' class='admin-toolbar mat-elevation-z2'>
	<div fxLayout='row' fxLayoutAlign='space-between center' class='w-100'>
		<div fxLayout='row' fxLayoutAlign='center center'>
			<button mat-icon-button (click)='toggleSidenav()'>
				<mat-icon>menu</mat-icon>
			</button>
			<a mat-icon-button routerLink='/'>
				<mat-icon>home</mat-icon>
			</a>
		</div>

		<div fxLayout='row' fxLayoutAlign='end center'>
			<app-lang></app-lang>
			<app-fullscreen></app-fullscreen>
		</div>
	</div>
</mat-toolbar>

<mat-drawer-container class='admin-container'>

	<mat-drawer #sidenav [opened]='settings.adminSidenavIsOpened'
	            [mode]="(settings.adminSidenavIsPinned) ? 'side' : 'over'" class='admin-sidenav mat-elevation-z6'
	            autoFocus='false'>
		<perfect-scrollbar>
			<app-admin-menu [menuItems]='menuItems' [menuParentId]='0'></app-admin-menu>
		</perfect-scrollbar>
	</mat-drawer>

	<mat-drawer-content>
		<app-breadcrumb></app-breadcrumb>
		<router-outlet></router-outlet>
	</mat-drawer-content>

</mat-drawer-container>
