<mat-card class="m-2 p-0">

	<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
		<div></div>
		<button mat-raised-button color="primary" (click)="handlerAdd()">
			<mat-icon>add</mat-icon>
			{{ 'PRODUCT.ADD' | translate }}
		</button>
	</div>
	<mat-divider></mat-divider>

	<div class="table-wrapper">
		<mat-table [dataSource]="dataSource" matSort class="w-100">

			<!-- Image Column -->
			<ng-container matColumnDef="image">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FIELD.LABEL.IMAGE" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let product"> <img [src]="product.image" alt="item" width="60"></mat-cell>
			</ng-container>

			<!-- Category Column -->
			<ng-container matColumnDef="category">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FIELD.LABEL.CATEGORY" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let product">{{ product.category.name }}</mat-cell>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FIELD.LABEL.NAME" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let product">{{ getName(product) }}</mat-cell>
			</ng-container>

			<!-- Price Column -->
			<ng-container matColumnDef="price">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FIELD.LABEL.PRICE" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let product">{{ product.price | currency : 'USD' : 'symbol' : '1.2-2' }}</mat-cell>
			</ng-container>

			<!-- Actions Column -->
			<ng-container matColumnDef="action">
				<mat-header-cell *matHeaderCellDef>{{ "FIELD.LABEL.ACTION" | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let product">

					<a mat-icon-button color="primary" matTooltip='{{ "BTN.VIEW" | translate }}'>
						<mat-icon>visibility</mat-icon>
					</a>

					<!-- Button used to update with the dialog component. -->
					<button mat-icon-button color="primary" (click)="handlerUpdate(product.id)" matTooltip='{{ "BTN.EDIT" | translate }}'>
						<mat-icon>edit</mat-icon>
					</button>

					<button mat-icon-button color="warn" (click)="handlerDelete(product.id)" matTooltip='{{ "BTN.REMOVE" | translate }}'>
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let product; columns: displayedColumns;"></mat-row>
		</mat-table>
		<p *ngIf="appService.Data.products && appService.Data.products.length === 0" class="py-5 mb-0 text-center">{{ "PRODUCT.PRODUCT.NO_DATA" | translate }}</p>
	</div>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>
