<mat-card class="menu-item p-0" [fxLayout]="(viewType == 'grid') ? 'column' : 'row'" [ngClass]="[viewType + '-item', 'column-'+column]">

	<div fxFlex="100" [fxShrink]="(viewType == 'grid') ? '3' : '2'" class="thumbnail-section">
		<mat-chip-list *ngIf="productExtended.discount">
			<mat-chip color="warn" selected="true">{{ productExtended.discount }}% OFF</mat-chip>
		</mat-chip-list>

		<div *ngIf="lazyLoad">
			<img [attr.data-src]="productExtended.image" class="w-100 d-block swiper-lazy">
			<div class="swiper-lazy-preloader"></div>
		</div>
		<img *ngIf="!lazyLoad" [src]="productExtended.image" class="w-100 d-block">
	</div>

	<div fxFlex="100" class="p-3">
		<div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">

			<mat-card-content class="mb-0">
				<h1 class="title">
					<a [routerLink]="['/product', productExtended.id]">{{ productExtended.name.name }}</a>
				</h1>
				<div class="mt-2">
					<p>{{ productExtended.name.description }}</p>
					<div *ngIf="viewType == 'list'" fxShow="false" fxShow.gt-sm="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam illum, suscipit nostrum ea quidem. Architecto quisquam eligendi tempora, obcaecati delectus, odio natus suscipit vel est temporibus error officia esse!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam illum, suscipit nostrum ea quidem. Architecto quisquam eligendi tempora, obcaecati delectus, odio natus suscipit vel est temporibus error officia esse!</p>
					</div>
				</div>
			</mat-card-content>

			<div class="sticky-footer-helper" fxFlex="grow"></div>

			<mat-card-actions class="m-0 p-0">
				<div class="features">
					<p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
						<mat-icon color="primary" class="mat-icon-sm">local_offer</mat-icon>
						<span class="px-1">Category:</span>
						<span class="dots"></span>
						<span class="fw-500">{{ productExtended.category.name }}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
						<mat-icon color="primary" class="mat-icon-sm">{{ (productExtended.availibilityCount > 0) ? 'check_circle' : 'unpublished'}}</mat-icon>
						<span class="px-1">Availibility:</span>
						<span class="dots"></span>
						<span class="fw-500">{{ (productExtended.availibilityCount > 0) ? 'Available':'Unavailable'}}</span>
					</p>

					<p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <span class="mat-icon mat-icon-sm primary-color">
                                <svg viewBox="0 0 24 24">
                                    <path d="M12,3C10.73,3 9.6,3.8 9.18,5H3V7H4.95L2,14C1.53,16 3,17 5.5,17C8,17 9.56,16 9,14L6.05,7H9.17C9.5,7.85 10.15,8.5 11,8.83V20H2V22H22V20H13V8.82C13.85,8.5 14.5,7.85 14.82,7H17.95L15,14C14.53,16 16,17 18.5,17C21,17 22.56,16 22,14L19.05,7H21V5H14.83C14.4,3.8 13.27,3 12,3M12,5A1,1 0 0,1 13,6A1,1 0 0,1 12,7A1,1 0 0,1 11,6A1,1 0 0,1 12,5M5.5,10.25L7,14H4L5.5,10.25M18.5,10.25L20,14H17L18.5,10.25Z" />
                                </svg>
                            </span>
                            <span class="px-1">Weight:</span>
                        </span>
						<span class="dots"></span>
						<span class="fw-500">{{ productExtended.weight }} g</span>
					</p>

				</div>

				<div fxLayout="row" fxLayoutAlign="space-between center" class="divider mt-1">

					<h2 class="primary-color">
						{{ productExtended.price | currency : 'USD' : 'symbol' : '1.2-2' }}
					</h2>
					<h2 *ngIf="productExtended.discount">
						<span class="text-muted old-price">{{productExtended.price | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
						<span class="primary-color mx-2">{{ (productExtended.price - (productExtended.price * (productExtended.discount / 100))) | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
					</h2>
				</div>
			</mat-card-actions>
		</div>
	</div>
</mat-card>
