<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50">
        <h2 class="secondary-font text-center mb-3">{{ "ACCOUNT.PASSWORD_CHANGE.TITLE" | translate }}</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" autocomplete="off">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "FIELD.LABEL.CURRENT_PASSWORD" | translate }}</mat-label>
                <input matInput placeholder='{{ "FIELD.PLACEHOLDER.CURRENT_PASSWORD" | translate }}' formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">{{ "FIELD.REQUIRED.CURRENT_PASSWORD" | translate }}</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">{{ "FIELD.INVALID.CURRENT_PASSWORD" | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "FIELD.LABEL.NEW_PASSWORD" | translate }}</mat-label>
                <input matInput placeholder='{{ "FIELD.PLACEHOLDER.NEW_PASSWORD" | translate }}' formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">{{ "FIELD.REQUIRED.NEW_PASSWORD" | translate }}</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">{{ "FIELD.INVALID.NEW_PASSWORD" | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "FIELD.LABEL.CONFIRM_PASSWORD" | translate }}</mat-label>
                <input matInput placeholder='{{ "FIELD.PLACEHOLDER.CONFIRM_PASSWORD" | translate }}' formControlName="confirmNewPassword" type="password" required>
                <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">{{ "FIELD.REQUIRED.CONFIRM_PASSWORD" | translate }}</mat-error>
                <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">{{ "FIELD.INVALID.CONFIRM_PASSWORD" | translate }}</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">{{ "BTN.CHANGE_PASSWORD" | translate }}</button>
            </div>
        </form>
    </div>
</div>
