<div class="header bg-primary">
	<div fxLayout="row wrap" fxLayoutAlign="space-between center">
		<h2 class="fw-500 secondary-font">{{( 'PRODUCT.CUVEE.' +  ((cuvee) ? 'UPDATE' : 'ADD') ) | translate }}</h2>
		<app-dialog-header-controls [dialogRef]="dialogRef"></app-dialog-header-controls>
	</div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="pt-3">
	<div mat-dialog-content>
		<div fxLayout="row wrap">

			<!-- Name column. -->
			<div fxFlex="100">
				<mat-form-field appearance="outline" class="w-90">
					<mat-label>{{ "FIELD.LABEL.NAME" | translate }}</mat-label>
					<mat-select formControlName="name" [compareWith]='equals' required>
						<mat-option *ngFor='let name of appService.Data.names' [value]="name">
							{{ name.name }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.controls.name.errors?.required">{{ "FIELD.REQUIRED.NAME" | translate }}</mat-error>
				</mat-form-field>

				<button class="w-10" mat-icon-button color="primary" type='button' (click)="addName()" matTooltip='{{ "BTN.ADD" | translate }}'>
					<mat-icon>add</mat-icon>
				</button>
			</div>

			<!-- Color column. -->
			<div fxFlex="100">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ "FIELD.LABEL.COLOR" | translate }}</mat-label>
					<mat-select formControlName="keyColor" required>
						<mat-option *ngFor='let keyColor of ["WHITE", "ROSE", "RED"]' [value]='keyColor'>
							{{ ("PRODUCT.CUVEE.COLOR." + keyColor) | translate }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.controls.keyColor.errors?.required">{{ "FIELD.REQUIRED.COLOR" | translate }}</mat-error>
				</mat-form-field>
			</div>

			<!-- Vintage column. -->
			<div fxFlex="100">
				<mat-form-field appearance="outline" class="w-90">
					<mat-label>{{ "FIELD.LABEL.VINTAGE" | translate }}</mat-label>
					<mat-select formControlName="vintage" [compareWith]='equals' required>
						<mat-option *ngFor='let vintage of appService.Data.vintages' [value]="vintage">
							{{ vintage.value }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.controls.vintage.errors?.required">{{ "FIELD.REQUIRED.VINTAGE" | translate }}</mat-error>
				</mat-form-field>

				<button class="w-10" mat-icon-button color="primary" type='button' (click)="addVintage()" matTooltip='{{ "BTN.ADD" | translate }}'>
					<mat-icon>add</mat-icon>
				</button>
			</div>

			<!-- Appellation column. -->
			<div fxFlex="100">
				<mat-form-field appearance="outline" class="w-90">
					<mat-label>{{ "FIELD.LABEL.APPELLATION" | translate }}</mat-label>
					<mat-select formControlName="appellation" [compareWith]='equals' required>
						<mat-option *ngFor='let appellation of appService.Data.appellations' [value]="appellation">
							{{ appellation.name }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.controls.appellation.errors?.required">{{ "FIELD.REQUIRED.APPELLATION" | translate }}</mat-error>
				</mat-form-field>

				<button class="w-10" mat-icon-button color="primary" type='button' (click)="addAppellation()" matTooltip='{{ "BTN.ADD" | translate }}'>
					<mat-icon>add</mat-icon>
				</button>
			</div>

			<!-- Variety column. -->
			<div fxFlex="100">
				<mat-form-field appearance="outline" class="w-90">
					<mat-label>{{ "FIELD.LABEL.VARIETY" | translate }}</mat-label>
					<mat-select formControlName="varietyList" [compareWith]='equals' required multiple>
						<mat-option *ngFor='let variety of appService.Data.varieties' [value]="variety">
							{{ variety.name }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.controls.varietyList.errors?.required">{{ "FIELD.REQUIRED.VARIETY" | translate }}</mat-error>
				</mat-form-field>

				<button class="w-10" mat-icon-button color="primary" type='button' (click)="addVariety()" matTooltip='{{ "BTN.ADD" | translate }}'>
					<mat-icon>add</mat-icon>
				</button>
			</div>

			<!-- Alcohol column. -->
			<div fxFlex="100">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ "FIELD.LABEL.ALCOHOL" | translate }}</mat-label>
					<input matInput placeholder='{{ "FIELD.PLACEHOLDER.ALCOHOL" | translate }}' formControlName="alcohol" type='number' step='0.5' min='0' max='100' required>
					<mat-error *ngIf="form.controls.alcohol.errors?.required">{{ "FIELD.REQUIRED.ALCOHOL" | translate }}</mat-error>
				</mat-form-field>
			</div>

		</div>
	</div>
	<div mat-dialog-actions>
		<div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
			<button mat-raised-button color="warn" type="button" mat-dialog-close>{{ 'BTN.CANCEL' | translate }}</button>
			<button mat-raised-button color="primary" type="submit">{{ 'BTN.SAVE' | translate }}</button>
		</div>
	</div>
</form>
