<mat-toolbar id="top-toolbar" class="top-toolbar">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-contacts fxLayout="row" fxLayoutAlign="start center"></app-contacts>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="">
      <app-lang></app-lang>
<!--      <app-user-menu></app-user-menu>-->
    </div>

  </div>
</mat-toolbar>

<mat-toolbar id="main-toolbar" class="mat-elevation-z2">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="center">
    <span fxHide="false" fxFlex='1 1 auto' fxHide.gt-sm>
      <button mat-icon-button (click)="sidenavToggle()">
        <mat-icon class="mat-icon-lg">menu</mat-icon>
      </button>
    </span>

    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
      <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div>
  </div>
</mat-toolbar>
