<app-header-image [backgroundImage]="'assets/images/volunteers/photoGroupe.jpg'"
                  [bgImageAnimate]='true'
                  [contentOffsetToTop]='false'
                  [title]='"VOLUNTEER.NAV" | translate'
                  [desc]='"VOLUNTEER.DESC" | translate'>
</app-header-image>

<div class='p-3'>
	<div class='theme-container'>

		<mat-sidenav-container class='all-menu-items mt-3'>

			<mat-sidenav-content>
		<div fxLayout='row wrap' fxLayoutAlign="space-around center" class='flex-wrapper'>


			<!-- Toolbar. -->
			<div fxFlex="100" class="px-2 pb-2 pt-0">
				<app-volunteer-toolbar
						(onSearch)="onSearch($event)"
						(onChangeCountPerPage)="changeCountPerPage($event)"
						(onChangeViewType)="changeViewType($event)" >
				</app-volunteer-toolbar>
			</div>

			<!-- Volunteer item list.  -->
			<div *ngFor='let volunteer of paginator.data' [fxFlex]="(viewType == 'grid') ? viewCol : 100" class='p-3'>

				<mat-card class='p-0' fxLayout='row wrap'>
					<div fxFlex='40'>
						<img alt='Profile picture' [src]="'assets/images/volunteers/icon1.png'" class='d-block mw-100'>
						<!-- <img [src]="menuItem.image.medium" class="w-100 d-block">   -->
					</div>
					<div fxFlex='60' class='p-3'>
						<div fxLayout='column' fxLayoutAlign='start stretch' class='h-100'>
							<mat-card-content class='mb-0'>
								<h2 class='fw-600'>{{ volunteer.firstName }} {{ volunteer.lastName }}</h2>
								<div class='mt-2'>
									<p fxLayoutAlign='start center' class='mb-2'>
										<a [href]='"mailto:" + volunteer.email'>
											<mat-icon color='primary'>email</mat-icon>
										</a>
										<a [href]='"mailto:" + volunteer.email'>
											<span class='mx-2'>{{ volunteer.email }}</span>
										</a>
									</p>
								</div>
							</mat-card-content>
						</div>
					</div>
				</mat-card>

			</div>

			<app-loading-spinner
					fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200"
					[isLoading]="volunteersList && volunteersList.length == 0"
					[message]="message" >
			</app-loading-spinner>

			<!-- Pagination. -->
			<div *ngIf="volunteersList && volunteersList.length > 0" fxFlex="100" fxLayoutAlign="center center" class="p-2">
				<mat-paginator
						[length]="paginator.total"
						[pageSize]="paginator.countPerPage"
						(page)="changePage($event)"
						class="w-100 mat-elevation-z1">
				</mat-paginator>
			</div>

		</div>
			</mat-sidenav-content>
			</mat-sidenav-container>
	</div>
</div>
